<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-information.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width grid grid--1-col grid--2-col-tablet product-information-container" id="product-information-container">
  <div class="grid__item product-information-left">
    <button class="accordion h2 product-information-button">{{ 'products.product.product_omschrijving' | t }}{% render 'icon-caret' %}</button>
    {%- if product.description != blank -%}
      <div class="product__description rte quick-add-hidden panel">
        {{ product.description }}
      </div>
    {%- endif -%}
  </div>
  <div class="grid__item product-information-right">
    <button class="accordion h2 product-information-button">{{ 'products.product.aanvullende_informatie' | t }}{% render 'icon-caret' %}</button>
    <ul class="list-unstyled product-information-specifications panel">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'product-specification' -%}
            {%- if block.settings.specification_result != blank -%}
              <li><b>{{ block.settings.specification_heading }}</b><span>{{ block.settings.specification_result }}</span></li>
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </ul>
  </div>
</div>
<button class="button button--tertiary button--small" id="read-more-description" onclick="opendescription()">{{ 'products.product.read_more' | t }}</button>

<script>
  function opendescription() {
    var element = document.getElementById("product-information-container");
    var btntext = document.getElementById("read-more-description");
    element.classList.toggle("is-open");
    if (element.classList.contains('is-open')) {
      btntext.innerHTML = "{{ 'products.product.read_less' | t }}";
    } else {
      btntext.innerHTML = "{{ 'products.product.read_more' | t }}";
    }
  }

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

{% schema %}
{
  "name": "Product information",
  "tag": "section",
  "class": "section product-description-information",
  "settings": [
  ],
  "blocks": [
    {
      "type": "product-specification",
      "name": "Product specification",
      "settings": [
        {
          "type": "text",
          "id": "specification_heading",
          "default": "Specification heading",
          "label": "Specification heading or select field"
        },
        {
          "type": "richtext",
          "id": "specification_result",
          "label": "Set Specification field"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product information",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
